{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/module.js' %}"></script>
    <script src="{% static 'js/hotkeys.js' %}"></script>
    <script src="{% static 'js/uploader.js' %}"></script>
    <script src="{% static 'js/simditor.js' %}?v=1.4"></script>
    <!--<script src="{% static 'js/custom-my-exam.js' %}?v=0550."></script>!-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}?v=5.8">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}?v=1.1">
    <link rel="stylesheet" href="{% static 'css/simditor.css' %}?v=1.2">
    <!--<link rel="stylesheet" href="{% static 'css/app.css' %}">!-->
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container-fluid">
        <form role="form" id="form" method="post" action="{% url 'create_exam' %}">
            {% csrf_token %}
            <div class="row clearfix">
                <div class="form-group">
                    <label for="editor">题目内容</label>
                    <textarea id="editor" name="content" class="form-control"  required></textarea>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="R_project">所属项目</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-briefcase"></span></span>
                                    <select class="form-control" id="project" name="project" required>
                                        <option value=""></option>
                                        {%  for type in typelist %}
                                            <option value="{{ type.Total_Type_values}}">{{ type.Total_Type_values }}</option>
                                        {% endfor %}
                                    </select>
                            </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="R_level">题目等级</label>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-briefcase"></span></span>
                            <select class="form-control" id="level" name="level" required>
                                {% for level in levellist %}
                                <option value="{{ level.Total_Type_values }}">{{ level.Total_Type_values }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            {% if type == "R" %}
            <div class="form-group">
                <label for="R_all_answers" style="padding: 10px">题目选项</label>
                <div class="input-group" id="saltIpGroup">
                    <button class="btn btn-info" type="button" data-toggle="tooltip" title="新增" id="addSaltIpGrpBtn" onclick="addbutton_all_R(this)" ><span class="glyphicon glyphicon-plus"></span></button>
                </div>
            </div>
            <div class="form-group">
                <label for="R_right_answer" style="padding: 10px">题目正确选项</label>
                <textarea name="R_right_answer" id="R_right_answer" class="form-control" required placeholder="单选题只能有一个正确选项"></textarea>
            </div>
            <div class="form-group">
                <input name="exam_type" value="R" style="display: none">
            </div>
            <div class="modal-footer">
                <button type="button" class=" btn btn-primary" onclick="diff_R(this)">创建</button>
            </div>
            {% elif type == "M" %}
            <div class="form-group">
                <label for="M_all_answer" style="padding: 10px">题目选项</label>
                <div class="input-group" id="saltIpGroup">
                    <button class="btn btn-info" type="button" data-toggle="tooltip" title="新增" id="addSaltIpGrpBtn" onclick="addbutton_all_M(this)" ><span class="glyphicon glyphicon-plus"></span></button>
                </div>
            </div>
            <div class="form-group">
                <label for="M_right_answer" style="padding: 10px">题目正确选项</label>
                <div class="input-group" id="saltIpGroup">
                    <button class="btn btn-info" type="button" data-toggle="tooltip" title="新增" id="addSaltIpGrpBtn" onclick="addbutton_right(this)" ><span class="glyphicon glyphicon-plus"></span></button>
                </div>
            </div>
            <div class="form-group">
                    <input name="exam_type" value="M" style="display: none">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="diff_M(this)">创建</button>
            </div>
            {% else %}
            <div class="form-group">
                <label for="W_right_answer" style="padding: 10px">题目答案</label>
                <textarea id="W_right_answer" name="W_right_answer" class="form-control" placeholder="简答题可以不用填写答案"></textarea>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="input-button">创建</button>
            </div>
            <div class="form-group">
                <input name="exam_type" value="W" style="display: none">
            </div>
        {% endif %}
        </form>
    </div>
</body>
<script>
    $(document).ready(function() {

        //$("td,th").addClass("text-center");
        (function () {
            $(function () {
                var editor, toolbar;
                Simditor.locale = 'zh-CN';
                toolbar = ['title', 'bold', 'italic', 'underline', 'strikethrough',
                    'fontScale', 'color', '|', 'ol', 'ul', 'blockquote', 'code',
                    'table', '|', 'link', 'image', 'hr', '|', 'indent', 'outdent',
                    'alignment'];

                editor = new Simditor({
                    textarea: $('#editor'),
                    //placeholder: '这里输入题目内容...',
                    toolbar: toolbar,
                    pasteImage: true,
                    defaultImage: '/simditor/images/image.png',
                    upload: {
                        url: '/upload/',
                        params: null,
                        fileKey: "upload_file",
                        connectionCount: 3,
                        leaveConfirm: "正在上传,确定要取消上传文件吗?"
                    }
                });
            });

        }).call(this);
    });


function diff_R() {
   var right_answer=document.getElementsByName("R_right_answer");
   var all_answer = document.getElementsByName("R_all_answer");
   var content = document.getElementsByName("content");
   var project = document.getElementsByName("project");
   var answers = [];
   for (var k=0;k<content.length;k++){
        for (var h=0;h<project.length;h++){
            if(content[k].value==="" || project[h].value==="") {
                alert("内容或项目不能为空")
            }  else {
                for (var j = 0; j < all_answer.length; j++) {
                    answers.push(all_answer[j].value);
                }
                for (var i = 0; i < right_answer.length; i++) {
                    if (answers.indexOf(right_answer[i].value)!==-1){
                        if(confirm("确认创建吗？")){
                            $("#form").submit();

                        } else{
                            return false
                        }
                    }else {
                        alert("答案与选项不符合")
                    }
               }
                        }
                    }
   }

}

function diff_M() {
    var right_answer = document.getElementsByName("M_right_answer");
    var all_answer = document.getElementsByName("M_all_answer");
    var content = document.getElementsByName("content");
    var project = document.getElementsByName("project");
    var answers = [];
    for (var k = 0; k < content.length; k++) {
        for (var h = 0; h < project.length; h++) {
            if(content[k].value==="" || project[h].value==="") {
                alert("内容或项目不能为空")
            } else {
                for (var j = 0; j < all_answer.length; j++) {
                answers.push(all_answer[j].value);
                }
                var flag;
                for (var i = 0; i < right_answer.length; i++) {
                    if (answers.indexOf(right_answer[i].value) === -1) {
                        flag = false;
                        break
                    } else {
                        flag = true
                    }
                }
                if (flag) {
                    if(confirm("确认创建吗？")){
                            $("#form").submit();
                        } else{
                            return false
                        }
                } else {
                    alert("答案与选项不符合")
                }
            }

        }
    }
}
/////////////////////////////////////////////////////////////////////////////////
function addbutton_all_R(obj){
	html = '<div class="input-group saltIp" style="width:100%;padding:0 0 1px 0;">'+
						'<label class="input-group-addon">选项:</label>'+
						'<input type="text" class="form-control" id="R_all_answers" name="R_all_answer" style="width:500px;" required>'+
						'<span class="input-group-btn">'+
    						'<button class="btn btn-info" type="button" data-toggle="tooltip" title="删除" id="delbutton_all_R" ><span class="glyphicon glyphicon-minus"></span></button>'+
    					'</span>'+
					'</div>';
	obj.insertAdjacentHTML('beforebegin',html)
}



$(document).on('click','#delbutton_all_R',function(){
	var el = this.parentNode.parentNode;
	var saltIp = $(this).parent().parent().find('#R_all_answers').val();
	if (saltIp === ""){
		el.parentNode.removeChild(el);
		return
	}
	alertify.confirm('您确定要删除选中的命令？',
	function(e){
		if(e){
			$.ajax({
				'url':'/url',
				'type':'POST',
				'async':false,
				'dataType':'json',
				'data':{'type':'delSaltIp','projectId':projectId,'saltIp':saltIp},
				'success':function(result){
					if (result.code){
						el.parentNode.removeChild(el)
					}else {
						showError(result.msg)
					}
				}
			})

		}
	})

});

$(document).on('click','#delbutton_all_R',function(){
	var el = this.parentNode.parentNode;
	var saltIp = $(this).parent().parent().find('#R_all_answers').val();
	if (saltIp === ""){
		el.parentNode.removeChild(el);
		return
	}
	alertify.confirm('您确定要删除选中的命令？',
	function(e){
		if(e){
			$.ajax({
				'url':'/url',
				'type':'POST',
				'async':false,
				'dataType':'json',
				'data':{'type':'delSaltIp','projectId':projectId,'saltIp':saltIp},
				'success':function(result){
					if (result.code){
						el.parentNode.removeChild(el)
					}else {
						showError(result.msg)
					}
				}
			})

		}
	})

});

function addbutton_all_M(obj){
	html = '<div class="input-group saltIp" style="width:100%;padding:0 0 1px 0;">'+
						'<label class="input-group-addon">选项:</label>'+
						'<input type="text" class="form-control" id="M_all_answers" name="M_all_answer" style="width:500px;" required>'+
						'<span class="input-group-btn">'+
    						'<button class="btn btn-info" type="button" data-toggle="tooltip" title="删除" id="delbutton_all_M" ><span class="glyphicon glyphicon-minus"></span></button>'+
    					'</span>'+
					'</div>';
	obj.insertAdjacentHTML('beforebegin',html)
}


$(document).on('click','#delbutton_all_M',function(){
	var el = this.parentNode.parentNode;
	var saltIp = $(this).parent().parent().find('#M_all_answers').val();
	if (saltIp === ""){
		el.parentNode.removeChild(el);
		return
	}
	alertify.confirm('您确定要删除选中的命令？',
	function(e){
		if(e){
			$.ajax({
				'url':'/url',
				'type':'POST',
				'async':false,
				'dataType':'json',
				'data':{'type':'delSaltIp','projectId':projectId,'saltIp':saltIp},
				'success':function(result){
					if (result.code){
						el.parentNode.removeChild(el)
					}else {
						showError(result.msg)
					}
				}
			})

		}
	})

});

function addbutton_right(obj){
	html = '<div class="input-group saltIp" style="width:100%;padding:0 0 1px 0;">'+
						'<label class="input-group-addon">选项:</label>'+
						'<input type="text" class="form-control" id="M_right_answers" name="M_right_answer" style="width:500px;" required>'+
						'<span class="input-group-btn">'+
    						'<button class="btn btn-info" type="button" data-toggle="tooltip" title="删除" id="delbutton_right" ><span class="glyphicon glyphicon-minus"></span></button>'+
    					'</span>'+
					'</div>';
	obj.insertAdjacentHTML('beforebegin',html)
}


$(document).on('click','#delbutton_right',function(){
	var el = this.parentNode.parentNode;
	var saltIp = $(this).parent().parent().find('#M_right_answers').val();
	if (saltIp === ""){
		el.parentNode.removeChild(el);
		return
	}
	alertify.confirm('您确定要删除选中的命令？',
	function(e){
		if(e){
			$.ajax({
				'url':'/url',
				'type':'POST',
				'async':false,
				'dataType':'json',
				'data':{'type':'delSaltIp','projectId':projectId,'saltIp':saltIp},
				'success':function(result){
					if (result.code){
						el.parentNode.removeChild(el)
					}else {
						showError(result.msg)
					}
				}
			})

		}
	})
});


</script>
</html>