{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/module.js' %}"></script>
    <script src="{% static 'js/hotkeys.js' %}"></script>
    <script src="{% static 'js/uploader.js' %}"></script>
    <script src="{% static 'js/simditor.js' %}?v=1.1"></script>
    <script src="{% static 'js/custom-check-exam.js' %}?v=3.9"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}?v=5.8">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}?v=1.1">
    <link rel="stylesheet" href="{% static 'css/simditor.css' %}?v=1.1">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'css/mobile.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
<style>
img{
    width: 700px;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
</style>
</head>
<body id="main">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-8">
                <hr>
                <form role="form" id="form" method="POST" action="{% url 'edit_exam' %}">
                    {% csrf_token %}
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="editor">题目内容</label>
                                <textarea id="editor" name="content" class="form-control" required>{{ exam.content }}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="project" style="padding: 10px">所属项目</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-briefcase"></span></span>
                                            <select class="form-control" id="project" name="project" required>
                                                <option value=""></option>
                                                {%  for type in p_list %}
                                                    <option value="{{ type.Total_Type_values}}">{{ type.Total_Type_values }}</option>
                                                {% endfor %}
                                            </select>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="level" style="padding: 10px">题目等级</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-briefcase"></span></span>
                                            <select class="form-control" id="level" name="level" required>
                                                <option value="{{ exam.T_Level }}">{{ exam.T_Level }}</option>
                                                {%  for level in levellist %}
                                                    <option value="{{ level.Total_Type_values}}">{{ level.Total_Type_values }}</option>
                                                {% endfor %}
                                            </select>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="all_answers" style="padding: 10px">题目选项</label>
                        <div class="input-group" id="all_answers">

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="right_answers" style="padding: 10px">题目正确选项</label>
                        <div class="input-group" id="right_answers">

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="diff_exam(this)">修改</button>
                    </div>
                    <input name="id" value="{{ exam.exam_id }}" hidden>
                    <input name="type" value="{{ types }}" hidden>
                </form>
            </div>
        </div>
    </div>

</body>
<script>
    $(document).ready(function () {
        var all_answers = {{ all_answer|safe }};
        var type = {{ type|safe }};
        var all_answer_R_M = '<button class="btn btn-info" type="button" data-toggle="tooltip" title="新增" id="addSaltIpGrpBtn" onclick="addbutton_all(this)" ><span class="glyphicon glyphicon-plus"></span></button>';
        var right_answer_R_W = '';
        var right_answer_M =
           '                       <div class="input-group" id="saltIpGroup">\n' +
           '                           <button class="btn btn-info" type="button" data-toggle="tooltip" title="新增" id="addSaltIpGrpBtn" onclick="addbutton_right(this)" ><span class="glyphicon glyphicon-plus"></span></button>\n' +
           '                      </div>';
        if(type["type"] === "R"){
               for (var key in all_answers){
                   all_answer_R_M =  '<div class="input-group saltIp" style="width:100%;padding:0 0 1px 0;">'+
						'<label class="input-group-addon">选项:</label>'+
						'<input type="text" class="form-control" id="all_answers" name="all_answer" style="width:500px;" required value='+key+'>' +
						'<span class="input-group-btn">'+
    						'<button class="btn btn-info" type="button" data-toggle="tooltip" title="删除" id="delbutton_all" ><span class="glyphicon glyphicon-minus"></span></button>'+
    					'</span>'+
					'</div>' + all_answer_R_M ;
                   if(all_answers[key]){
                       right_answer_R_W +=
                                            '<textarea name="right_answer" id="right_answer" class="form-control" required placeholder="单选题只能有一个正确选项">'+key+'</textarea>'
                   }
               }
               document.getElementById("all_answers").innerHTML = all_answer_R_M;
               document.getElementById("right_answers").innerHTML = right_answer_R_W
           }else  if (type["type"]==="M"){
               for (var key in all_answers){
                   all_answer_R_M = '<div class="input-group saltIp" style="width:100%;padding:0 0 1px 0;">'+
						'<label class="input-group-addon">选项:</label>'+
						'<input type="text" class="form-control" id="all_answers" name="all_answer" style="width:500px;" required value='+key+'>'+
						'<span class="input-group-btn">'+
    						'<button class="btn btn-info" type="button" data-toggle="tooltip" title="删除" id="delbutton_all" ><span class="glyphicon glyphicon-minus"></span></button>'+
    					'</span>'+
					'</div>' + all_answer_R_M;
                   if (all_answers[key]){
                       right_answer_M = '<div class="input-group saltIp" style="width:100%;padding:0 0 1px 0;">'+
						'<label class="input-group-addon">选项:</label>'+
						'<input type="text" class="form-control" id="right_answer" name="right_answer" style="width:500px;" required value='+key+'>'+
						'<span class="input-group-btn">'+
    						'<button class="btn btn-info" type="button" data-toggle="tooltip" title="删除" id="delbutton_all" ><span class="glyphicon glyphicon-minus"></span></button>'+
    					'</span>'+
					'</div>'+ right_answer_M;
                   }
               }

               document.getElementById("all_answers").innerHTML = all_answer_R_M;
               document.getElementById("right_answers").innerHTML = right_answer_M;
           } else if(type["type"]==="W"){
               for (var key in all_answers) {
                       right_answer_R_W +=
                           '<textarea name="right_answer" id="right_answer" class="form-control" required placeholder="单选题只能有一个正确选项">' + key + '</textarea>';
                       document.getElementById("right_answers").innerHTML = right_answer_R_W;
                   return false
               }
               right_answer_R_W +=
                       '<textarea name="right_answer" id="right_answer" class="form-control" required placeholder="简答题答案可选写"></textarea>';
                   document.getElementById("right_answers").innerHTML = right_answer_R_W

           }
        /*var url = location.search;
       if (url.indexOf("?") !== -1) {
           var str = url.substr(1);
           strs = str.split("=");
           a = strs[1];
           a = a.split("&");
           requesta = a[0];
           requestb = strs[2];
           alert(requestb)
       }


       $.get('/edit_exam_json/',{"id":requesta,"type":requestb},function (exam_info) {
           //alert(exam_info);
           var all_answer_R_M = '<button class="btn btn-info" type="button" data-toggle="tooltip" title="新增" id="addSaltIpGrpBtn" onclick="addbutton_all(this)" ><span class="glyphicon glyphicon-plus"></span></button>';
           var right_answer_R_W = '';
           var right_answer_M =
               '                       <div class="input-group" id="saltIpGroup">\n' +
               '                           <button class="btn btn-info" type="button" data-toggle="tooltip" title="新增" id="addSaltIpGrpBtn" onclick="addbutton_right(this)" ><span class="glyphicon glyphicon-plus"></span></button>\n' +
               '                      </div>';
           if(requestb === "R"){
               for (var key in exam_info){
                   alert(exam_info[key]);
                   all_answer_R_M =  '<div class="input-group saltIp" style="width:100%;padding:0 0 1px 0;">'+
						'<label class="input-group-addon">选项:</label>'+
						'<input type="text" class="form-control" id="all_answers" name="all_answer" style="width:500px;" required value='+key+'>' +
						'<span class="input-group-btn">'+
    						'<button class="btn btn-info" type="button" data-toggle="tooltip" title="删除" id="delbutton_all" ><span class="glyphicon glyphicon-minus"></span></button>'+
    					'</span>'+
					'</div>' + all_answer_R_M ;
                   if(exam_info[key]){
                       right_answer_R_W +=
                                            '<textarea name="right_answer" id="right_answer" class="form-control" required placeholder="单选题只能有一个正确选项">'+key+'</textarea>'
                   }
               }
               document.getElementById("all_answers").innerHTML = all_answer_R_M;
               document.getElementById("right_answers").innerHTML = right_answer_R_W
           }else  if (requestb==="M"){
               for (var key in exam_info){
                   all_answer_R_M = '<div class="input-group saltIp" style="width:100%;padding:0 0 1px 0;">'+
						'<label class="input-group-addon">选项:</label>'+
						'<input type="text" class="form-control" id="all_answers" name="all_answer" style="width:500px;" required value='+key+'>'+
						'<span class="input-group-btn">'+
    						'<button class="btn btn-info" type="button" data-toggle="tooltip" title="删除" id="delbutton_all" ><span class="glyphicon glyphicon-minus"></span></button>'+
    					'</span>'+
					'</div>' + all_answer_R_M;
                   if (exam_info[key]){
                       right_answer_M = '<div class="input-group saltIp" style="width:100%;padding:0 0 1px 0;">'+
						'<label class="input-group-addon">选项:</label>'+
						'<input type="text" class="form-control" id="right_answer" name="right_answer" style="width:500px;" required value='+key+'>'+
						'<span class="input-group-btn">'+
    						'<button class="btn btn-info" type="button" data-toggle="tooltip" title="删除" id="delbutton_all" ><span class="glyphicon glyphicon-minus"></span></button>'+
    					'</span>'+
					'</div>'+ right_answer_M;
                   }
               }

               document.getElementById("all_answers").innerHTML = all_answer_R_M;
               document.getElementById("right_answers").innerHTML = right_answer_M;
           } else if(requestb==="W"){
               for (var key in exam_info) {
                       right_answer_R_W +=
                           '<textarea name="right_answer" id="right_answer" class="form-control" required placeholder="单选题只能有一个正确选项">' + key + '</textarea>';
                       document.getElementById("right_answers").innerHTML = right_answer_R_W;
                   return false
               }
               right_answer_R_W +=
                       '<textarea name="right_answer" id="right_answer" class="form-control" required placeholder="简答题答案可选写"></textarea>';
                   document.getElementById("right_answers").innerHTML = right_answer_R_W

           } else {
               for (var key in exam_info){
                   alert(exam_info[key]);
               }
           }


       });*/

    });

</script>
</html>