{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href="{% static 'css/bootstrap.min.css' %}?v=5.8" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}?v=1.1" rel="stylesheet">
    <script src="{% static 'js/custom-check-exam.js' %}?v=1.0"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <div class="row clearfix">
            <div class="col-sm-12">
                <h2 class="textcenter">在线练习</h2>
            </div>
        </div>
        <div class="row clearfix">
            <hr>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <form role="form" method="POST" action="">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="project">练习项目</label>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-briefcase"></span></span>
                                    <select class="form-control" id="project" name="project" required>
                                        <option value=""></option>
                                        {%  for type in typelist %}
                                            <option value="{{ type.Total_Type_values }}">{{ type.Total_Type_values }}</option>
                                        {% endfor %}
                                    </select>
                            </div>
                    </div>
                    <label for="time">练习时长</label>
                    <div class="form-group" id="time">
                        <input type="radio" name="test_time" id="30" value="30" checked>
                        <label for="30">30 Min</label><br>
                        <input type="radio" name="test_time" id="45" value="45">
                        <label for="45">45 Min</label><br>
                        <input type="radio" name="test_time" id="60" value="60">
                        <label for="60">60 Min</label><br>
                    </div>
                    <label for="count">题目数量</label>
                    <div class="form-group" id="count">
                        <input type="radio" name="exam_count" id="35" value="35" checked>
                        <label for="35">35</label><br>
                        <input type="radio" name="exam_count" id="50" value="50">
                        <label for="50">50</label>
                    </div>
                    <label for="range">练习范围</label>
                    <div class="form-group" id="range">
                        <input type="radio" name="test_range" id="random" value="random" checked>
                        <label for="random">随机选题</label>    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="选择此项，将从题库中随机抽取题目"style="color: rgb(15, 16, 255);"></span><br>
                        <input type="radio" name="test_range" id="new" value="new">
                        <label for="new">最新优先</label>    <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" title="选择此项，将从题库中优先抽取最新的题目"style="color: rgb(15, 16, 255);"></span><br>
                    </div>
                    <button class="form-control btn btn-primary" type="submit">开始练习</button>
                </form>
            </div>
            <div class="col-sm-3">
            </div>
        </div>

    </div>

</body>
</html>