{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href="{% static 'css/bootstrap.min.css' %}?v=1" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}?v=1.0" rel="stylesheet">
    <meta charset="UTF-8">
    <title>userlogin</title>
</head>
<body style = 'background-image: url("../static/images/backimage.jpg");background-size: 100%'>
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-md-12 textcenter" style="padding-top: 150px">
            <h2>
                在线测试平台
            </h2>
        </div>
    </div>
    <div class="row clearfix" style="padding-top: 50px">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="row clearfix">
                <div class="col-md-1 column">
                </div>
                <div class="col-md-10 column">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h2 class="panel-title textcenter" >
                                用户登录
                            </h2>
                        </div>
                        <div class="panel-body">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-8">
                                <form role="form" method="POST" action="">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="user">用户：</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                            <input class="form-control" type="text" onkeyup="this.value=this.value.replace(/[^a-z0-9@.]/g,'');" id="user" name="username" placeholder="请输入用户名(只能小写）" required>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback">
                                        <label for="password">密码：</label>
                                        <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                            <input class="form-control" type="password" id="password" name="password" placeholder="请输入密码" required>
                                        </div>
                                    </div>
                                    <div>
                                        <button type="submit" class="btn form-control btn-primary">登录</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-2">
                            </div>
                        </div>

                    </div>

                    <div id="message">

                    </div>
                </div>
                <div class="col-md-1 column">
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

        </div>
    </div>
</div>
</body>
<script>
$(document).ready(function() {
    if(isIE()||isIE11()){
        alert("使用非IE可以获得最佳体验！")
    }
});
    function isIE(){
    　　if(!!window.ActiveXObject || "ActiveXObject" in window){
    　　　　return true;
    　　}else{
    　　　　return false;
    　　}
    }
    function isIE11(){
    　if((/Trident\/7\./).test(navigator.userAgent)){
    　　　　return true;
    　　}else{
    　　　　return false;
    　　}
    }
    var message = {{ message|safe }};
    if(message["message"] !== "start"){
        document.getElementById("message").innerHTML = '<div class="alert alert-danger">'+message["message"]+'</div>'
   }
</script>
</html>