{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <link href="{% static 'css/bootstrap.min.css' %}?v=5.8" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}?v=1.3" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container-fluid">
        {% include 'nav.html' %}
        <div class="row clearfix">
            <div class="col-lg-1 col-md-3 col-sm-3 col-xs-4">
                <ul class="nav nav-pills nav-stacked" style="padding-bottom: 40px;padding-left: 5px">
                    <li class="active"><a href="javascript:void(0)">常用信息</a></li>
                    <li><a href="javascript:void(0)" onclick="addTab('public_office','/public_office/','公共办公')">公共办公</a></li>
                    <li><a href="javascript:void(0)" onclick="addTab('check_doc','/check_doc/','知识库')">知识库</a></li>
                </ul>
                <ul class="nav nav-pills nav-stacked" style="padding-bottom: 40px;padding-left: 5px">
                    <li class="active"><a href="javascript:void(0)">我的任务</a></li>
                    <li><a href="javascript:void(0)" onclick="addTab('exam_temp','/exam_temp/','在线测试')">在线测试</a></li>
                    <li><a href="javascript:void(0)" onclick="addTab('test_record','/test_record/','测试记录')">测试记录</a></li>
                    <li><a href="javascript:void(0)" onclick="addTab('test_analysis','/test_analysis/','成绩分析')">成绩分析</a></li>
                </ul>
                <ul class="nav nav-pills nav-stacked" style="padding-bottom: 40px;padding-left: 5px">
                    <li class="active"><a href="javascript:void(0)">个人管理</a></li>
                    <li><a href="javascript:void(0)" onclick="addTab('person_setting','/person_setting/','个人设置')">个人设置</a></li>
                    <li><a href="javascript:void(0)" onclick="addTab('person_meassage','/person_meassage/','我的消息')">我的消息</a></li>
                    <li><a href="javascript:void(0)"  onclick="addTab('my_exam','/my_exam/','我的题库')">我的题库</a></li>
                </ul>
            </div>
            <div class="col-lg-11 col-md-9 col-sm-9 col-xs-8">

                <ul id="tab_tittle" class="nav nav-tabs">
                    <li class="active"><a id="home_page" data-toggle="tab" href="#home">首页</a></li>
                </ul>
                <div id="tab_container" class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe scrolling="auto" src={% url 'iframe_main' %}>
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer" style="margin-top: 20px">
            Test
        </div>
    </div>

</body>
<script language="JavaScript">
   function addTab(id,url,name) {
        var tab_exist = document.getElementById(url);
        if(tab_exist){
            tab_exist.click()
        }else {
            var tittle = $("#tab_tittle");
            var content = $("#tab_container");
            var node_content = '<div id= "'+id+'"'+' class="tab-pane fade">\n' +
                                                                            '<div class="embed-responsive embed-responsive-4by3">\n'+
                                                                                '<iframe id='+'"'+id+name+'"'+ 'scrolling="auto" src='+'/'+id+'/'+ '>\n'+
                                                                                '</iframe>\n'+
                                                                            '</div>\n' +
                                                                            '    </div>';
            var node_tittle= '<li id='+'"'+name+'"'+'><a id='+'"'+url+'"'+ ' data-toggle="tab" href="'+'#'+id+'"'+'>'+name+'\xa0\xa0'+'<button class="close" aria-hidden="true" onclick="deltab('+'\''+id+'\''+','+'\''+name+'\''+')">x</button>'+'</a></li>';
            tittle.append(node_tittle);
            content.append(node_content);
            document.getElementById(url).click();
        }
    }

    function isIE(){
    　　if(!!window.ActiveXObject || "ActiveXObject" in window){
    　　　　return true;
    　　}else{
    　　　　return false;
    　　}
    }
    function isIE11(){
    　　if((/Trident\/7\./).test(navigator.userAgent)){
    　　　　return true;
    　　}else{
    　　　　return false;
    　　}
    }
    function deltab(id,name) {
        if(isIE()||isIE11()){
            document.getElementById(name).removeNode(true);
           document.getElementById(id).removeNode(true);
           document.getElementById("home_page").click()
        }  else{
            var childrenNode = document.getElementById("tab_tittle").getAttribute("a");
            var childrenNum = document.getElementById("tab_tittle").getElementsByTagName("a").length;
            var childrenIndex = $("#"+name).index(childrenNode);
            var childrenclick = document.getElementById("tab_tittle").getElementsByTagName("a").item(childrenIndex-1).getAttribute("id");
            if(childrenNum === 2){
                document.getElementById(name).remove();
                document.getElementById(id).remove();
                document.getElementById("home_page").click()
            }else {
                document.getElementById(name).remove();
                document.getElementById(id).remove();
                document.getElementById(childrenclick).click()
            }
        }
    }
</script>
</html>