 <div class="row clearfix">
    <div class="col-lg-12">
        <nav class="navbar navbar-inverse" role="navigation" style="margin-bottom: 20px">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href={% url 'main' %}>在线测试平台</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    {% if request.session.role == "Admin" or request.session.role == "GroupLeadr"  %}
                    <li><a target="_blank" href={% url 'backup_setting' %}><span class="glyphicon glyphicon-wrench"></span><span>  后台管理</span></a> </li>
                    {% endif %}
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{request.session.username}}，欢迎登录</a></li>
                    <li><a href={% url 'user_logout' %}><span class="glyphicon glyphicon-log-out"></span>  登出</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
